#!/bin/bash
## Instructions:
## Copy this file to .env and change VIRTUAL_HOST value to what you want.
VIRTUAL_HOST=humpback.docker
CONTAINER_UID=1000
PHP_POST_MAX_SIZE=100M
PHP_UPLOAD_MAX_FILESIZE=100M
BLACKFIRE_SERVER_ID=CHANGEME
BLACKFIRE_SERVER_TOKEN=CHANGEME
